 *{
    padding: 0;
    margin :0;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 ul{
    list-style: none;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .menu{
    color:darkorchid;
    background-color: black;
    
 }
 #botaoo{
    border-radius: 20px;
    background-color: aquamarine;
    color:black ;
    height: 60px;
    width: 150px ;
 }
 #botaoo:hover{
    background-color: aliceblue;
    transition-duration: 0.2s;
 }
 #section01{
    background-color: red;
    
 }
 #section02{
    background-color: green;
 } 
 #section03{
    background-color: yellow;
 } 
 #section04{
    background-color: blue;
 }
 section{
    height: 100vh;
 }